

body {
    display: grid;
    grid-template-rows: min(100px, 10rem) 7fr;
    font-family: 'Roboto', serif;
    gap: 0;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    font-size: 2rem;
    font-weight: bolder;
    background-color: rgb(0, 121, 151);
    justify-content: center;
    color: white;
    gap: 50rem;
}

.modal-active {
  filter: blur(50px);
}

header > img {
    width: 5rem;
    filter: invert(1);
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 1rem;
}

.main-content > button {
    border-width: 0rem;
    background-color: white;
    border-radius: 1rem;
    font-size: 2rem;
    font-style: bold;
    width: 200px;
    transition: 0.3s;
}

.main-content > button:hover {
    color: white;
    background-color: rgb(0, 121, 151);
    box-shadow: 0px 5px 10px rgb(155, 155, 155);
}

dialog[open] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    height: min(20%, 400px);
    width: min(15%, 250px);
    border-radius: 20px;
    border-width: 0.1rem;
}

dialog::backdrop {
        backdrop-filter: blur(4px);
}

dialog > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: min(20px, 1rem);
}

dialog > form .inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

dialog > form  input {
    font-size: 1rem;
    border-radius: 1rem;
    padding: 0.25rem;
    padding-left: 0.5rem;
    border-width: 0px;
    background-color: rgb(218, 218, 218);
}

dialog .controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: max(10px, 2rem);
}

dialog .controls > button, #submit-btn {
    color: black;
    border-radius: max(10px, 1.5rem);
    font-size: max(10px, 1.3rem);
    width: max(100px, 2rem);
    border-style: none;
    background-color: white;
    transition: 0.3s;
}

.controls button:hover, #submit-btn:hover {
    border-style: bold;
    color: white;
    background-color: rgb(0, 121, 151);
    box-shadow: 0px 5px 10px rgb(155, 155, 155);
}

.book-display {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 300px));
    justify-content: center;
    overflow: auto;
    gap: 20px;
    padding: min(20px, 1rem);
    background-color: white;
    width: 100%;
    padding: 2rem;
}

.book-presentation-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    background-color: white;
    padding: min(30px, 1rem);
    border-radius: 1rem;
    border-color: black;
    border-style: dashed;
    transition: 0.3s;
}

.book-presentation-card:hover {
    scale: 1.1;
    box-shadow: 10px 10px 10px rgb(204, 204, 204);
}

.book-presentation-card > button {
    border-radius: 10px;
    border-width: 0px;
    font-size: min(20px, 1.3rem);
    transition: 0.3s;
}

.book-presentation-card > button:hover {
    color: white;
    background-color: red;
}

.book-presentation-card > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}


