

body {
    display: grid;
    grid-template-rows: 1fr 7fr;
    font-family: 'Roboto', serif;
    gap: 0;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    font-size: 2rem;
    font-weight: bolder;
    background-color: rgb(0, 121, 151);;
    justify-content: center;
    color: white;
    gap: 50rem;
}

.modal-active {
  filter: blur(50px);
}

header > img {
    width: 5rem;
    filter: invert(1);
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 1rem;
}

.main-content > button {
    border-width: 0rem;
    background-color: white;
    border-radius: 1rem;
    font-size: 2rem;
    font-style: bold;
    width: 200px;
    transition: 0.3s;
}

.main-content > button:hover {
    color: white;
    background-color: rgb(0, 121, 151);
}

#my-dialog {
    border-radius: 20px;
    border-width: 0.1rem;
}


.book-display {
    background-color: red;
    height: 100%;

}